:root {
  --chakra-colors-minusxGreen-50: #ebf8ff;
  --chakra-colors-minusxGreen-100: #bee3f8;
  --chakra-colors-minusxGreen-200: #90cdf4;
  --chakra-colors-minusxGreen-300: #63b3ed;
  --chakra-colors-minusxGreen-400: #4299e1;
  --chakra-colors-minusxGreen-500: #3182ce;
  --chakra-colors-minusxGreen-600: #2b77cb;
  --chakra-colors-minusxGreen-700: #2c5aa0;
  --chakra-colors-minusxGreen-800: #2a4a7c;
  --chakra-colors-minusxGreen-900: #1a365d;
}